<div class="w-full flex flex-col">

    <!-- Header -->
    <div class="w-full flex flex-col pt-4 px-4 bg-primary relative z-10">

        <!-- Action Button -->
        <div class="w-full flex flex-row justify-between mb-8 z-10">
            <mat-icon class="text-white" svgIcon="feather:arrow-left"></mat-icon>
            <mat-icon class="text-white" svgIcon="feather:square"></mat-icon>
        </div>

        <!-- E-kedai Logo -->
        <div class="flex justify-center mb-20 z-10">
            <img 
                class="w-40 object-cover"
                [src]="'assets/e-kedai/logo/e-kedai_white.svg'" 
                [alt]="''">
        </div>

        <div class="flex justify-center z-10">
            <svg width="214" height="202" viewBox="0 0 214 202" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M107.011 137C142.357 137 171.011 108.346 171.011 73C171.011 37.6538 142.357 9 107.011 9C71.6648 9 43.011 37.6538 43.011 73C43.011 108.346 71.6648 137 107.011 137Z" stroke="white" stroke-width="18" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10 192.991C19.8354 175.966 33.9777 161.83 51.0063 152.002C68.0349 142.173 87.3501 136.999 107.012 136.999C126.673 136.999 145.988 142.173 163.017 152.002C180.045 161.83 194.188 175.966 204.023 192.991" stroke="white" stroke-width="18" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
          
        <div class="absolute w-full h-100 left-0 z-0 top-5">
            <svg class="bg-card" width="100%" height="100%" viewBox="0 0 430 450" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M215 450C383.447 450 520 313.447 520 145C520 -23.4469 383.447 -160 215 -160C46.5531 -160 -90 -23.4469 -90 145C-90 313.447 46.5531 450 215 450Z" fill="#921C1D"/>
            </svg>
        </div>

    </div>
</div>